div.frontend {
    padding: 1em;
    position: relative;
}

table.frontend {
    border-collapse: collapse;
    width: 100%;
}

td.fename {
    text-align: left;
    vertical-align: middle;
    background-color: #AAAAAA;

    border-bottom: 3px solid #000000;
    border-left: 0px solid #000000;
    border-top: 1px solid #AAAAAA;

    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

span.fename {
    font-size: 2em;
}

td.feversion {
    text-align: right;
    vertical-align: middle;
    background-color: #DCDCDC;

    border-top: 0;
    border-left: 0px solid #000000;
    border-bottom: 3px solid #000000;

    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
}

span.feversion {
    font-size: 2em;
}

span.fehost {
    font-size: 1em;
}

div.devicelist {
    padding: 1em;
    position: relative;
}

div.device {
    padding: 1em;
    position: relative;
    float: left;
}

table.device {
    border-collapse: collapse;
}

td.name {
    text-align: left;
    vertical-align: middle;
    background-color: #AAAAAA;

    border-top: 3px solid #000000;
    border-left: 3px solid #000000;
    border-bottom: 1px solid #AAAAAA;

    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

span.name {
    font-size: 1.5em;
}

td.version {
    text-align: right;
    vertical-align: middle;
    background-color: #DCDCDC;

    border-top: 3px solid #000000;

    padding-left: 1em;
    font-size: 1em;
}

span.version {
    font-size: 1.5em;
}

span.host {
    font-size: 0.9em;
}

span.version[data-version$="0"] {
    font-weight: bold;
    color:  #000000;
}
span.version[data-version$="1"] {
    font-weight: bold;
    color:  #990000;
}
span.version[data-version$="2"] {
    font-weight: bold;
    color:  #009900;
}
span.version[data-version$="3"] {
    font-weight: bold;
    color:  #000099;
}
span.version[data-version$="4"] {
    font-weight: bold;
    color:  #990099;
}
span.version[data-version$="5"] {
    font-weight: bold;
    color:  #009999;
}
span.version[data-version$="6"] {
    font-weight: bold;
    color:  #999900;
}
span.version[data-version$="7"] {
    font-weight: bold;
    color:  #999999;
}
span.version[data-version$="8"] {
    font-weight: bold;
    color:  #9999FF;
}
span.version[data-version$="9"] {
    font-weight: bold;
    color:  #444499;
}

td.rnrname {
    text-align: left;
    vertical-align: middle;
    background-color: #DCDCDC;

    border-top: 1px solid #000000;
    border-left: 3px solid #000000;

    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

span.rnrname {
    font-size: 1.0em;
}

td.rnrversion {
    text-align: right;
    vertical-align: middle;
    background-color: #DCDCDC;

    border-top: 1px solid #000000;

    padding-left: 1em;
    font-size: 1em;
}

span.rnrversion {
    font-size: 1.0em;
}

td.value {
    text-align: left;
    vertical-align: middle;
    background-color: #DCDCDC;

    border-left: 3px solid #000000;

    padding-left: 1em;
    padding-right: em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

span.value {
    font-size: 1em;
}

td.info {
    text-align: right;
    vertical-align: middle;
    background-color: #DCDCDC;

    border-top: 0;
    border-left: 3px solid #000000;
    border-right: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;

    padding-left: 1em;
}

span.info {
}

td.time {
    text-align: right;
    vertical-align: middle;
    background-color: #DCDCDC;

    border-top: 0;

    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
}
span.time {}

div.environment {
    position:relative;
}

div.environment[data-environment]:after {
    content:attr(data-environment);
    position:absolute;
    color:black;
    background: #FF5555;

    top: -0.7em;
    right: -1em;
    width:5em;
    height:1.5em;
    font-size:0.7em;

    text-align:center;
    line-height:1.5em;
    border-radius:10%;
}

div.environment[data-environment="prod"]:after {
    background: #55FF55;
}

div.environment[data-environment="pre-prod"]:after {
    background: #FFAA55;
}

div.environment[data-environment="dev"]:after {
    background: #9999FF;
}

div.environment[data-environment="pre-dev"]:after {
    background: #CCCCCC;
}
div.environment[data-environment=""]:after {
    content: "n/a";
    background: #FFFFFF;
}
